<section id="home" class="section-padding h75 d-flex align-items-center bg-image overlay-dark60">
	<div class="container">
		<div class="row justify-content-md-center py-5">
			<div class="col-sm-8 col-lg-7 text-center">
				<h1 class="mb-5 h2 font-weight-bold text-white">Te ayudamos a obtener un préstamo de acuerdo a tu perfil</h1>
				<a href="/step1" class="btn btn-lg btn-warning btn-rounded px-5 font-weight-bold">Quiero un préstamo</a>
			</div>
		</div>
	</div>
</section>
<section id="work" class="section-padding d-flex align-items-center h100 bg-gray">
  <div class="container">
    <div class="row">
      <div class="col mb-5 text-center">
        <h2 class="font-weight-bold h2 text-purple">Cómo funciona</h2>
        <h5 class="font-weight-bold text-purple">¡Obtener tu préstamo es súper sencillo!</h5>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-sm-6 col-lg-4">
        <div class="row row-steps">
          <div class="col-4 col-sm-12">
            <img class="max60 mb-3" src="images/one.png" alt="paso 1">
          </div>
          <div class="col-8 col-sm-12">
            <h3 class="font-weight-bold text-uppercase h5 text-purple">Paso 1</h3>
            <p>Responde el formulario, no te tomará más de 2 minutos</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="row row-steps">
          <div class="col-4 col-sm-12">
            <img class="max60 mb-3" src="images/two.png" alt="paso 2">
          </div>
          <div class="col-8 col-sm-12">
            <h3 class="font-weight-bold text-uppercase h5 text-purple">Paso 2</h3>
            <p>Al terminar el formulario, te mostraremos el prestamista que más se acomode a tu perfil</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="row row-steps">
          <div class="col-4 col-sm-12">
            <img class="max60 mb-3" src="images/three.png" alt="paso 3">
          </div>
          <div class="col-8 col-sm-12">
            <h3 class="font-weight-bold text-uppercase h5 text-purple">Paso 3</h3>
            <p>Haz click en “aplicar ahora” para solicitar tu préstamo y ¡listo!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-sm-5 col-lg-3 text-center">
        <a href="/step1" class="btn btn-warning btn-rounded btn-lg px-4 font-weight-bold">Quiero un préstamo hoy</a>
      </div>
    </div>
  </div>
</section>

<section class="section-padding d-flex align-items-center h100 bg-pattern">
	<div class="container">
		<div class="row justify-content-center">
			<div class="row">
		      <div class="col mb-5 text-center">
		        <h2 class="font-weight-bold h2 text-purple">Beneficios</h2>
		      </div>
		    </div>
		</div>
		<div class="row justify-content-center">
			<div class="col-sm-6 col-lg-5">
				<ul class="list-group list-group-flush font-weight-bold">
					<li class="list-group-item">Aplicación 100% en línea</li>
					<li class="list-group-item">Totalmente claros y transparentes</li>
					<li class="list-group-item">Hecho a la medida: te vincularemos con el mejor prestamista para ti</li>
				</ul>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-sm-6 text-center">
				<a href="/step1" class="btn btn-warning btn-rounded font-weight-bold btn-lg px-5 mt-5">Quiero un préstamo hoy</a>
			</div>
		</div>
	</div>
</section>
