<section id="process" class="bg-gradient2 section-padding d-flex align-items-center h100">
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-sm-12 col-lg-10 ">
				<h1 class="title">¡Felicidades!</h1>
				<p class="subtitle text-white max700 mb-3">Nuestro sistema analizó tu información, y cumples con los requisitos
					para solicitar cualquiera de las siguientes opciones:</p>
				<div class="row justify-content-center">

					<!-- <div class="col-sm-6 col-lg-4">
						<div class="card-wini">
							<div class="content">
								<img class="max80 mt-3 mb-3" src="images/banco_azteca.png" alt="Banco Azteca">
								<h3 class="font-weight-bold h6 mb-3">¡Sin depósitos, aval o garantías!</h3>
								<div class="text-left">
									<ul class="small">
										<li>Préstamos de $1,000 a <span class="font-weight-bold text-success">$12,000</span></li>
										<li>Entrega inmediata.</li>
										<li>Probabilidad de aprobación: 90%</li>
									</ul>
								</div>
								<p class="">
									<a href="https://ymz8k.app.goo.gl/jzfx" target="_blank" class="btn btn-warning btn-rounded font-weight-bold btn-block">Solicitar <i class="fas fa-arrow-right ml-3"></i></a>
								</p>
							</div>
						</div>
					</div> -->
					<div class="col-sm-6 col-lg-4">
						<div class="card-wini">
							<div class="content">
								<img class="max80 mt-3 mb-0" src="images/kueskicash.png" alt="Kueski">
								<h3 class="font-weight-bold h6 mb-3">¡Sin depósitos, aval o garantías!</h3>
								<div class="text-left">
									<ul class="small">
										<li>Préstamos rápidos y seguros</li>
										<li>Sin depósitos ni pagos por adelantado</li>
										<li>Probabilidad de aprobación alta</li>
									</ul>
								</div>

								<p class="">
									<a href="https://kueski.com/prestamos-personales?utm_source=rdbcxx&utm_medium=p_sms&utm_campaign=oct&utm_term=ppg&utm_content=nh"
										target="_blank" class="btn btn-warning btn-rounded font-weight-bold btn-block">Solicitar <i
											class="fas fa-arrow-right ml-3"></i></a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-4">
						<div class="card-wini">
							<div class="content">
								<img class="max80 mt-3 mb-3" src="images/yotepresto.png" alt="Yo te presto">
								<div class="text-left">
									<ul class="small">
										<li>Préstamos hasta <span class="font-weight-bold text-success">$325,000</span></li>
										<li>Pre-aprobación en un minuto.</li>
										<li>Necesario tener buen historial crediticio.</li>
										<li>Ingresos comprobables</li>
									</ul>
								</div>
								<p class="">
									<a href="https://www.yotepresto.com/prestamos-en-linea?utm_source=pixel&utm_medium=comparador_pp&utm_content=prestamos_personales&utm_campaign=afiliado_pixel"
										target="_blank" class="btn btn-warning btn-rounded font-weight-bold btn-block">Solicitar <i
											class="fas fa-arrow-right ml-3"></i></a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-4">
						<div class="card-wini">
							<div class="content">
								<img class="max80 mt-3 mb-3" src="images/kubo.png" alt="kubo financiero">
								<div class="text-left">
									<ul class="small">
										<li>Préstamos hasta <span class="font-weight-bold text-success">$100,000</span></li>
										<li>A pagar hasta en 36 meses.</li>
										<li>Pre-aprobación en 5 minutos.</li>
									</ul>
								</div>
								<p class="">
									<a href="https://informes.kubofinanciero.com/prestamos?utm_source=pixeldynamic&utm_medium=sms&utm_campaign=pixeldynamic"
										target="_blank" class="btn btn-warning btn-rounded font-weight-bold btn-block">Solicitar <i
											class="fas fa-arrow-right ml-3"></i></a>
								</p>
							</div>
						</div>
					</div>
					<!-- <div class="col-sm-6 col-lg-4">
						<div class="card-wini">
							<div class="content">
								<img class="max80 mt-3 mb-3" src="images/kubo.png" alt="kubo financiero">
								<div class="text-left">
									<ul class="small">
										<li>Préstamos hasta <span class="font-weight-bold text-success">$100,000</span></li>
										<li>A pagar hasta en 36 meses.</li>
										<li>Pre-aprobación en 5 minutos.</li>
									</ul>
								</div>
								<p class="">
									<a href="https://informes.kubofinanciero.com/prestamos?utm_source=pixeldynamic&utm_medium=sms&utm_campaign=pixeldynamic" target="_blank" class="btn btn-warning btn-rounded font-weight-bold btn-block">Solicitar <i class="fas fa-arrow-right ml-3"></i></a>
								</p>
							</div>
						</div>
					</div> -->
					<!-- <div class="col-sm-6 col-lg-4">
						<div class="card-wini">
							<div class="content">
								<img class="max80 my-3 mb-0" src="images/logo-albo.png" alt="Albo">
								<div class="text-left">
									<ul class="small">
										<li>Tarjeta de débito</li>
                    <li>Abre tu cuenta en 5 minutos</li>
										<li>Necesario descargar la app</li>
                  </ul>
								</div>
								<p class="mt-4 mt-lg-0">
									<a href="https://app.adjust.com/19kqz6e" target="_blank" class="btn btn-warning btn-rounded font-weight-bold btn-block">Solicitar <i class="fas fa-arrow-right ml-3"></i></a>
								</p>
							</div>
						</div>
					</div> -->
					<!-- <div class="col-sm-6 col-lg-4">
						<div class="card-wini">
							<div class="content">
								<img class="max80 mt-3 mb-0" src="images/dineria.jpg" alt="Dineria">
								<h3 class="font-weight-bold h6">¡Sin depósitos, aval o garantías!</h3>
								<div class="text-left">
									<ul class="small my-4">
										<li>Préstamos rápidos y seguros hasta <span class="font-weight-bold text-success">$12,000</span></li>
										<li>Entrega inmediata</li>
									</ul>
								</div>
								<p class="mt-4 mt-lg-0">
									<a href="https://ojo7.ltroute.com/click.track?CID=426227&AFID=428585" target="_blank" class="btn btn-warning btn-rounded font-weight-bold btn-block">Solicitar <i class="fas fa-arrow-right ml-3"></i></a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-4">
						<div class="card-wini">
							<div class="content">
								<img class="max80 mt-3 mb-2" src="images/lendon.png" alt="Lendon">
								<h3 class="font-weight-bold h6 mb-3">¡Sin depósitos, aval o garantías!</h3>
								<div class="text-left">
									<ul class="small">
										<li>Préstamos rápidos y seguros hasta <span class="font-weight-bold text-success">$10,000</span></li>
										<li>Sin papeleos</li>
										<li>Entrega inmediata</li>
									</ul>
								</div>
								<p class="">
									<a href="https://ojo7.ltroute.com/click.track?CID=413401&AFID=428585" target="_blank" class="btn btn-warning btn-rounded font-weight-bold btn-block">Solicitar <i class="fas fa-arrow-right ml-3"></i></a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-4">
						<div class="card-wini">
							<div class="content">
								<img class="max80 mt-3 mb-3" src="images/banco_azteca.png" alt="Banco Azteca">
								<h3 class="font-weight-bold h6 mb-3">¡Sin depósitos, aval o garantías!</h3>
								<div class="text-left">
									<ul class="small">
										<li>Préstamos rápidos y seguros hasta <span class="font-weight-bold text-success">$12,000</span></li>
										<li>Totalmente desde tu celular.</li>
										<li>Entrega en 24 hrs.</li>
									</ul>
								</div>
								<p class="">
									<a href="http://ntvn.io/W1a36" target="_blank" class="btn btn-warning btn-rounded font-weight-bold btn-block">Solicitar <i class="fas fa-arrow-right ml-3"></i></a>
								</p>
							</div>
						</div>
					</div> -->
					<!-- <div class="col-sm-6 col-lg-4">
						<div class="card-wini">
							<div class="content">
								<img class="max80 mt-3 mb-3" src="images/banco_azteca.png" alt="Banco Azteca">
								<h3 class="font-weight-bold h6 mb-3">¡Sin depósitos, aval o garantías!</h3>
								<div class="text-left">
									<ul class="small">
										<li>Préstamos de <span class="font-weight-bold text-success">$2,000 a $12,000</span> pesos</li>
										<li>Entrega inmediata.</li>
										<li>Probabilidad de aprobación: 90%.</li>
									</ul>
								</div>
								<p class="">
									<a href="http://ntvn.io/TP2ar" target="_blank" class="btn btn-warning btn-rounded font-weight-bold btn-block">Solicitar <i class="fas fa-arrow-right ml-3"></i></a>
								</p>
							</div>
						</div>
					</div> -->

				</div>
			</div>
		</div>
		<div class="row justify-content-center mt-5">
			<div class="col-sm-6 col-lg-4">
				<h2 class="h4 mb-4 text-white">¿Tienes una deuda? resuelvela aquí</h2>
				<div class="card-wini">
					<div class="content">
						<!-- <img class="max80 mt-3 mb-3" src="images/resuelve.png" alt="Resuelve tu deuda" /> -->
						<div class="text-left">
							<h4 class="text-center">Solicítalo aquí</h4>
							<ul class="small">
								<li>
									Restructura tu deuda de hasta
									<strong class="text-success"> $300,000</strong>
								</li>
								<li>Hasta 70% menos en deudas</li>
								<li>FIja tus propias mensualidades</li>
								<li>Asesoría gratuita</li>
							</ul>
						</div>
						<p class="">
							<a href="https://prestamagico.com/deudas/bank" target="_blank"
								class="btn btn-warning btn-rounded font-weight-bold btn-block">Solicitar <i
									class="fas fa-arrow-right ml-3"></i></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>