

<section id="form" class="h40 d-flex align-items-center bg-gradient2 section-padding"></section>
<section id="process" class="bg-gray section-padding-b">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-8 col-lg-7">
				<div class="card-wini card-form">
					<div class="content p-4">
						<h1 class="h6 font-weight-bold text-purple">Sin importar tus respuestas, encontraremos un préstamo para ti. Responde honestamente a estas preguntas</h1>
						<hr>
						<h2 class="font-weight-bold text-blue h4 mb-4">Solicita tu préstamo</h2>
						
						<form id="form-lead">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="">¿Cuánto dinero necesitas?</label>
										<input type="tel" maxlength="10" class="form-control btn-rounded" id="money" placeholder="$0.00" onkeyup="onlyNumber()" >
										<small id="" class="form-text text-warning alert-c" >Campo incorrecto.</small>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="">¿A cuánto tiempo lo quieres pagar?</label>
										<select id="plazo" class="form-control">
											<option value disabled selected>Selecciona una opción</option>
											<option value="7 dias">7 días</option>
											<option value="15 dias">15 días</option>
											<option value="30 dias">30 días</option>
											<option value="45 dias">45 días</option>
											<option value="60 dias">60 días</option>
											<option value="90 dias">90 días</option>
											<option value="120 dias">120 días</option>
										</select>
										<small id="" class="form-text text-warning alert-c" >Campo incorrecto.</small>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="">Teléfono celular</label>
										<input type="tel" class="form-control btn-rounded" id="phone" placeholder="10 dígitos" maxlength="10" onkeyup="onlyNumber()" >
										<small id="" class="form-text text-warning alert-c" >Campo incorrecto. Tu teléfono debe contener 10 dígitos</small>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="">Correo electrónico</label>
										<input type="email" class="form-control btn-rounded" id="email"  placeholder="Correo electrónico">
										<small id="" class="form-text text-warning alert-c">Campo incorrecto. Ingresa un correo válido</small>
									</div>
								</div>
								<div class="col-sm-6">
									<h6 class="font-weight-bold">¿Tiene cuenta bancaria o caja de ahorro?</h6>
									<div class="radio-tile-group text-center mb-4">

										<div class="input-container checkbox">
											<input class="radio-button" type="radio" name="cuenta" value="Si" />
											<div class="radio-tile">
												<label for="walk" class="radio-tile-label bolean">Sí</label>
											</div>
										</div>
										<div class="input-container checkbox">
											<input class="radio-button" type="radio" name="cuenta" value="No" />
											<div class="radio-tile">
												<label for="walk" class="radio-tile-label bolean">No</label>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6 hidden">
									<div class="form-group">
										<label for="">¿Cuál es su estatus laboral actualmente?</label>
										<select id="estatus" class="form-control">
											<option value disabled selected>Selecciona una opción</option>
											<option value="Empleado">Empleado</option>
											<option value="Independiente">Independiente</option>
											<option value="Desempleado">Desempleado</option>
											<option value="Estudiante">Estudiante</option>
											<option value="Tengo una empresa">Tengo una empresa</option>
										</select>
										<small id="" class="form-text text-warning alert-c">Campo incorrecto. Ingresa un correo válido</small>
									</div>
								</div>
								<div class="col-sm-12 hidden">
									<div class="form-group">
										<label for="">Fecha de nacimiento</label>
										<input id="birth" class="form-control" type="date" placeholder="dd-mm-aaaa">
										<small id="" class="form-text text-warning alert-c">Campo incorrecto. Ingresa un correo válido</small>
									</div>
								</div>

								<div class="col-sm-12">
									<hr>
									<label class="control control--checkbox">Acepto los términos y condiciones del servicio
										<input id="terms" type="checkbox" class="check-m" value="true" />
										<div class="control__indicator"></div>
									</label>
								</div>
								<div class="col-sm-12">
									<label class="control control--checkbox">Acepto el Aviso de privacidad
										<input id="privacy" type="checkbox" class="check-m" value="true" />
										<div class="control__indicator"></div>
									</label>
								</div>
							</div>
							<hr>
							<div class="row justify-content-center">
								<div class="col-sm-5 mb-3">
									<button id="finish" type="submit" class="btn btn-warning btn-rounded font-weight-bold btn-block"  >Finalizar <i class="fas fa-angle-double-right ml-2"></i></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header ">
        <h5 class="modal-title font-weight-bold text-center w-100" id="exampleModalCenterTitle">¡Gracias por aplicar!</h5>
      </div>
      <div class="modal-body text-center">
      	<svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
		   <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
		</svg>
		<i id="success" class="fas fa-check-circle fa-5x text-success"></i>
       <p id="msg" class="mt-3">Estamos buscando las mejor opción para ti<br> de entre 50 prestamistas...</p>
       <p class="font-weight-bold kueski">Con base en tus respuestas esta es la mejor opción con más probabilidad de aprobarte un préstamo:</p>
       <div class="row py-4 kueski-row">
       	<div class="col-sm-6">
       		<p class="text-center mb-0">
	       		<img class="w-50 kueski mb-4 mb-md-0" src="images/kueski.png" alt="Kueski">
	       </p>
       	</div>
       	<div class="col-sm-6">
       		<p class="text-center mb-md-0">	
	       		<a target="_blank" href="https://online.adservicemedia.dk/cgi-bin/click.pl?bid=1068597&media_id=0&sub=pixeldynamic" class="btn btn-warning btn-rounded font-weight-bold px-4 kueski">Aplicar ahora <i class="fas fa-angle-double-right ml-2"></i></a>
	       </p>
       	</div>
       </div>
       <hr class="kueski">
       <p class="font-weight-bold small kueski">Pero también puedes aplicar en estas otras opciones<br> (no te preocupes ¡puedes aplicar en todas!)</p>
       <div class="row py-4 kueski-row">
       	<div class="col-sm-6">
       		<p class="text-center mb-0">
	       	<img class="credy mb-4 mb-md-0 kueski" src="images/credy.png" alt="Credy">
	       </p>
       	</div>
       	<div class="col-sm-6">
       		<p class="text-center mb-md-0">	
	       		<a target="_blank" href="https://bit.ly/2HHlDnT" class="btn btn-warning btn-rounded font-weight-bold px-4 kueski">Aplicar ahora <i class="fas fa-angle-double-right ml-2"></i></a>
	       </p>
       	</div>
       </div>
       <div class="row py-4 kueski-row ">
       	<div class="col-sm-6">
       		<p class="text-center mb-0">
	       	<img class="credy mb-4 mb-md-0 kueski" src="images/zen.png" alt="Crédito Zen">
	       </p>
       	</div>
       	<div class="col-sm-6">
       		<p class="text-center mb-md-0">	
	       		<a target="_blank" href="https://online.adservicemedia.dk/cgi-bin/click.pl?bid=1118044&media_id=0&sub=pixeldynamic" class="btn btn-warning btn-rounded font-weight-bold px-4 kueski">Aplicar ahora <i class="fas fa-angle-double-right ml-2"></i></a>
	       </p>
       	</div>
       </div>
       <div class="row py-4 kueski-row ">
       	<div class="col-sm-6">
       		<p class="text-center mb-0">
	       	<img class="credy mb-4 mb-md-0 kueski" src="images/kreditiweb.png" alt="Kreditiweb">
	       </p>
       	</div>
       	<div class="col-sm-6">
       		<p class="text-center mb-md-0">	
	       		<a  target="_blank" href="https://online.adservicemedia.dk/cgi-bin/click.pl?bid=1118042&media_id=0&sub=pixeldynamic" class="btn btn-warning btn-rounded font-weight-bold px-4 kueski">Aplicar ahora <i class="fas fa-angle-double-right ml-2"></i></a>
	       </p>
       	</div>
       </div>
       
       
      </div>
    </div>
  </div>
</div>

<div class="overlay"></div>


